In [11]:
# (2 pts) Write a lambda function to rearrange positive and negative numbers in a given list

# Sample output:
# original_list = [-1,2,-3,4,-5,6,-7,8,-9,10,-11,12]

original_list = [-1,2,-3,4,-5,6,-7,8,-9,10,-11,12]
positives = sorted([i for i in original_list if i > 0])
negatives = sorted([i for i in original_list if i < 0])
print("Positives:", positives)
print("Negatives:", negatives)

Positives: [2, 4, 6, 8, 10, 12]
Negatives: [-11, -9, -7, -5, -3, -1]

In [7]:
# (3 pts) Clean the JEOPARDY_DATA.csv so that `round` uses one-hot encoding instead of categorical values AND the `value` column shows a decimal type when you do a type check.

In [31]:
import pandas as pd
import numpy as np
studentsurveydf = pd.read_csv("JEOPARDY_DATA.csv")
studentsurveydf.columns = studentsurveydf.columns.str.lower().str.replace(' ', '_')
studentsurveydf = pd.get_dummies(studentsurveydf, columns=['_category'])
studentsurveydf.head()

,show_number,_air_date,_round,_value,_question,_answer,_category_ A JIM CARREY FILM FESTIVAL,"_category_""!""","_category_""-ARES""","_category_""-ICIAN"" EXPEDITION",...,_category_“CC”,_category_“GUT”s,_category_“G” WHIZ!,_category_“HARD” & “EASY” MOVIES,_category_“NORTH”,_category_“R” MOVIES,_category_“SAINTS”,_category_“SOUTH”,_category_“STREETS”,_category_“WH”AT IS IT?
0,4680,12/31/2004,Jeopardy!,$200,"For the last 8 years of his life, Galileo was ...",Copernicus,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,4680,12/31/2004,Jeopardy!,$200,No. 2: 1912 Olympian; football star at Carlisl...,Jim Thorpe,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,4680,12/31/2004,Jeopardy!,$200,The city of Yuma in this state has a record av...,Arizona,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,4680,12/31/2004,Jeopardy!,$200,"In 1963, live on ""The Art Linkletter Show"", th...",McDonald's,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,4680,12/31/2004,Jeopardy!,$200,"Signer of the Dec. of Indep., framer of the Co...",John Adams,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [15]:
# Bonus (1 pt): Why do you think it might be inconvenient that python doesnot have a "first-class" money type and that you have to use a decimal type instead?

In [ ]:
# One reason it might be inconvenient is when you use a decimal type to show money and can be small rounding issues.